$grayish-blue: hsl(233, 13%, 49%);
$very-light-gl: hsl(240, 78%, 98%);
$light-gl: hsl(234, 14%, 74%);
$dark-gl: hsl(232, 13%, 33%);
$border-raduis: 4px;

$mobile: 375px;
$desktop: 1440px;

@mixin gradient {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

// Media Query Mixins
@mixin mediaMobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

body {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: $grayish-blue;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 40rem;
  background-color: $very-light-gl;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;

  .pricing {
    padding: 4rem 1rem;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .selector {
    margin-bottom: 2rem;
    display: flex;
    font-weight: 400;
    font-size: 0.6rem;
    justify-content: center;
    align-items: center;

    .switch {
      @include gradient();
      width: 36px;
      height: 20px;
      border-radius: 100px;
      margin: 0 1rem;
      position: relative;
      cursor: pointer;

      .ball {
        position: absolute;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        transition: 0.2s ease-out all;

        &.monthly {
          transform: translateX(16px);
        }
      }
    }
  }

  .cards {
    display: flex;

    .card {
      width: 16rem;
      background-color: #fff;
      border-radius: $border-raduis;
      padding: 1rem;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);

      &.basic,
      &.master {
        z-index: 1;
      }

      .plan {
        font-size: 0.8rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
      }

      .price {
        font-size: 2.8rem;
        color: $dark-gl;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 1.4rem;
          margin-right: 0.2rem;
        }
      }

      .features {
        color: $light-gl;

        .feature {
          font-size: 0.8rem;
          list-style: none;
          padding: 0.5rem 0;
          border-top: 1px solid $very-light-gl;
        }

        .feature:last-child {
          border-bottom: 1px solid $very-light-gl;
        }
      }

      button {
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 90%;
        border: none;
        color: #fff;
        margin: 1rem 0;
        font-size: 0.5rem;
        padding: 0.5rem 0;
        @include gradient();
        border-radius: $border-raduis;
      }
    }

    .professional {
      z-index: 1;
      @include gradient();
      transform: scaleY(1.1);

      .plan {
        color: #fff;
      }

      .price {
        color: #fff;
      }

      ul li {
        color: #fff;
      }

      button {
        background-image: none;
        background-color: #fff;
        color: $grayish-blue;
      }
    }
  }

  .bg-bottom {
    position: absolute;
    bottom: -60px;
    left: -80px;
    transform: scale(0.7);
  }

  .bg-top {
    position: absolute;
    top: -150px;
    right: -80px;
    transform: scale(0.7);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}
