* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

body {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #6d708d;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  height: 40rem;
  background-color: #f6f6fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.container .pricing {
  padding: 4rem 1rem;
}

.container h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.container .selector {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 0.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .selector .switch {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  width: 36px;
  height: 20px;
  border-radius: 100px;
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

.container .selector .switch .ball {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  -webkit-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all;
}

.container .selector .switch .ball.monthly {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .cards .card {
  width: 16rem;
  background-color: #fff;
  border-radius: 3%;
  padding: 1rem;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}

.container .cards .card.basic, .container .cards .card.master {
  z-index: 1;
}

.container .cards .card .plan {
  font-size: 0.8rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.container .cards .card .price {
  font-size: 2.8rem;
  color: #494c5f;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .cards .card .price span {
  font-size: 1.4rem;
  margin-right: 0.2rem;
}

.container .cards .card .features {
  color: #b3b5c6;
}

.container .cards .card .features .feature {
  font-size: 0.8rem;
  list-style: none;
  padding: 0.5rem 0;
  border-top: 1px solid #f6f6fe;
}

.container .cards .card .features .feature:last-child {
  border-bottom: 1px solid #f6f6fe;
}

.container .cards .card button {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 90%;
  border: none;
  color: #fff;
  margin: 1rem 0;
  font-size: 0.5rem;
  padding: 0.5rem 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  border-radius: 3%;
  cursor: pointer;
}

.container .cards .card.professional {
  z-index: 5;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .cards .card.professional .plan {
  color: #fff;
}

.container .cards .card.professional .price {
  color: #fff;
}

.container .cards .card.professional ul li {
  color: #fff;
}

.container .cards .card.professional button {
  background-image: none;
  background-color: #fff;
  color: #6d708d;
}

.container .bg-bottom {
  position: absolute;
  bottom: -60px;
  left: -80px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.container .bg-top {
  position: absolute;
  top: -150px;
  right: -80px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 375px) {
  body {
    height: 100%;
    display: block;
  }
  .container {
    height: 100%;
    width: 100%;
  }
  .container .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .cards .card {
    margin: 0.5rem 0;
    width: 85vw;
  }
  .container .cards .card.professional {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  footer {
    position: relative;
  }
}
/*# sourceMappingURL=styles.css.map */